extends layout

block body
  section.section
    .container
      .columns.is-centered
        .column
          .content
            h2.has-text-centered IBT Stats

            h3 Dex.guru
            .table-container
              table.table.is-striped.is-bordered
                tr 
                  td Transactions (24h)
                  td= stats.txns24h
                tr 
                  td Transactions change (24h)
                  td= stats.txns24hChange
                tr 
                  td Trading volume (24h)
                  td= '$' + stats.volume24hUSD
                tr 
                  td Liquidity USD
                  td= stats.liquidityUSD
                tr 
                  td Price USD
                  td= stats.priceUSD
                tr 
                  td Price change (24h)
                  td= stats.priceUSDChange24h
                tr 
                  td Transactions per 24 hours
                  td= stats.txns24h